#muzu-chatbot {
  width: 100%;
  height: 100%;
}
#muzu-logo {
  padding-right: 10px;
}

.muzu-tool {
  background-color: #c9f0e2 !important;
}

/* .content {
  background: #d6f3b8;
} */

.bug {
  color: #f89256;
}

.pointing {
  background: #f8d7e2;
}

.green {
  background: #b7ec82 !important;
}

.red {
  background: #fe9e9e !important;
}

body {
  min-height: 100vh;
}
